.html {
  background-color: #181818;
}

.header {
  background-color: #212121;
  display: flex;
  padding: 6px 10px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
}

.HomeBtn {
  color: white;
}

.input {
  background-color: #121212;
  height: 24px;
  width: 280px;
  color: white;
  font-size: 10px;
  padding: 3px;
  font-weight: 200;
  margin: 0 auto;
  align-items: center;
}

.input:focus {
  outline: 0.2px solid rgb(45, 104, 212);
}

.inputBtn {
  background-color: #383838;
  height: 24px;
  font-size: 9px;
  width: 32px;
}

.searchBar {
  font-weight: 200;
}
